@{
    ViewBag.Title = "Home Page";
}


<div>
    <br />
    @Html.ActionLink("List of stores", "Index", "stores", null, new { @class = "btn btn-primary btn-large" })<a></a>
    @Html.ActionLink("List of jobs", "Index", "jobs", null, new { @class = "btn btn-primary btn-large" })<a></a>
    @Html.ActionLink("List of employees", "Index", "employees", null, new { @class = "btn btn-primary btn-large" })<a></a>
    @Html.ActionLink("List of publishers", "Index", "publishers", null, new { @class = "btn btn-primary btn-large" })<a></a>
    @Html.ActionLink("List of authors", "Index", "authors", null, new { @class = "btn btn-primary btn-large" })<br /><br />
    @Html.ActionLink("List of titles", "Index", "titles", null, new { @class = "btn btn-primary btn-large" })<a></a>
    @Html.ActionLink("List of titleauthors", "Index", "titleauthors", null, new { @class = "btn btn-primary btn-large" })<a></a>
    @Html.ActionLink("List of sales", "Index", "sales", null, new { @class = "btn btn-primary btn-large" })<a></a>
    @Html.ActionLink("List of discounts", "Index", "discounts", null, new { @class = "btn btn-primary btn-large" })<br /><br />
    @Html.ActionLink("TopSales", "Form", "Home", null, new { @class = "btn btn-danger btn-large" })
</div>

