@{
    ViewBag.Title = "Home Page";
}


<div>
    <br />
    @Html.ActionLink("List of stores", "Index", "stores")<br />
    @Html.ActionLink("List of jobs", "Index", "jobs")<br />
    @Html.ActionLink("List of employees", "Index", "employees")<br />
    @Html.ActionLink("List of publishers", "Index", "publishers")<br />
   <!--Na dw ti einai to pub info!!!-->
    @Html.ActionLink("List of authors", "Index", "authors")<br />
    @Html.ActionLink("List of titles", "Index", "titles")<br />
    @Html.ActionLink("List of titleauthors", "Index", "titleauthors")<br />
    @Html.ActionLink("List of sales", "Index", "sales")<br />
    @Html.ActionLink("List of royscheds", "Index", "royscheds")<br />
    @Html.ActionLink("List of discounts", "Index", "discounts")<br />
    @Html.ActionLink("TopSales", "Form", "Home")
</div>

